/* GLOBAL ASSETS */
@import "reset.less";
@import "mixins.less";

* {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

p, span, a {
	/*font-smoothing hack for Chrome on Windows*/
	-webkit-text-stroke: 0.001px transparent;
}