/* GLOBAL ASSETS */
@import "reset.less";
@import "mixins.less";
@import "fonts.less";

* {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

p, span, a {
	/*font-smoothing hack for Chrome on Windows*/
	-webkit-text-stroke: 0.001px transparent;
}

img {
	max-width: 100%;
}

.hide {
	display: none;
}

header {
	background: #323232;
}

.container {
	.flickr {
		width: 30%;
		overflow: hidden;
		float: left;
		border: 2px solid #FFFFFF;

		&:first-child {
			width: 60%;
		}
	}
}