/* GLOBAL ASSETS */
/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
sup {
  font-size: 50%;
  margin-top: -2px;
  vertical-align: super;
  display: inline-block;
}
/* FIREFOX SUPERSCRIPT FIX */
.ff sup {
  vertical-align: top;
  margin-top: -5px;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
@font-face {
  font-family: "HelveticaNeueW01-55Roma";
  src: url("../fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
  src: url("../fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"), url("../fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"), url("../fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"), url("../fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}
@font-face {
  font-family: "HelveticaNeueW01-45Ligh";
  src: url("../fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
  src: url("../fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"), url("../fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"), url("../fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"), url("../fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}
@font-face {
  font-family: "HelveticaNeueW01-75Bold";
  src: url("../fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
  src: url("../fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"), url("../fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"), url("../fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"), url("../fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}
* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
html,
body {
  font-family: "HelveticaNeueW01-55Roma";
}
p,
span,
a {
  /*font-smoothing hack for Chrome on Windows*/

  -webkit-text-stroke: 0.001px transparent;
}
img {
  max-width: 100%;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
header {
  background: #323232;
}
header h1 {
  font-family: "HelveticaNeueW01-75Bold";
  color: #FFFFFF;
  font-size: 25px;
  font-size: 2.5rem;
  padding: 20px;
}
nav {
  position: absolute;
  left: -100%;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
nav.hover {
  left: 0px;
}
.container {
  padding: 20px;
}
.container .flickr {
  overflow: hidden;
  float: left;
  border: 2px solid #FFFFFF;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /*
		&:first-child {
			width: 60%;
		}
		*/

}
.container .flickr .imgContainer {
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .flickr .imgContainer img {
  display: none;
}
.container .flickr .caption {
  position: absolute;
  bottom: 0px;
  opacity: 0;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.container .flickr .caption h2 {
  font-family: "HelveticaNeueW01-75Bold";
  font-size: 12px;
  font-size: 1.2rem;
}
.container .flickr .caption a {
  color: #FFFFFF;
  text-decoration: none;
}
.container .flickr .caption a img,
.container .flickr .caption a span {
  vertical-align: middle;
}
.container .flickr .caption a .iconContainer {
  overflow: hidden;
  max-width: 50px;
  display: inline-block;
  border-radius: 50%;
}
.container .flickr .caption a .user-name {
  text-decoration: underline;
}
.container .flickr.fadeOut {
  opacity: 0;
}
.container .flickr.fadeOut.fadeIn {
  opacity: 1;
}
.container .flickr:hover .caption,
.container .flickr:focus .caption {
  opacity: 1;
}
.load-more {
  width: 100px;
  margin: 0 auto;
}
.load-more a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #323232;
  text-align: center;
}
footer {
  background-color: #323232;
}
